# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

results/*
results/*/*.hdf5
results/*/*.pkl
!results/DefaultConfig/
!results/XGBoost_HyperParameterOptimization/
configs/
!configs/default_config.json
