# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

results/*
results/*/*.hdf5
results/*/*.pkl
results/*/indiv_model_output/
!results/MLflowDefaultSetup/
!results/XGBoost_HyperParameterOptimization/
configs/

ml*/
